################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SearchEngine.Solution/SearchEngine.Solution.VC.VC.opendb
